streamlit
tensorflow
numpy
Pillow
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
pandas
protobuf
pyarrow
requests
rich
markdown-it-py
mdurl
pygments



